<div id='dolphins'>

	<div class='loading'>
		<h3>Fetching Builds...</h3>
		<div class="preloader-wrapper large active">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div style='display: none;' class='edit_option'>
		<i class='material-icons edit_button'>edit</i>
		<i class='material-icons edit_end_button'>mode-edit</i>
	</div>

	<div class='first_time_use_instructions collection' style='display: none;'>
		<div class='instruction collection-item'>Set Dolphin Locations</div>
		<div class='instruction collection-item'>Leave Program running in the background</div>
		<div class='instruction collection-item'>Start a match on smashladder and click host!</div>
	</div>

	<div class='row'>

		<div class="col s12">
			<ul class="dolphins_tabs tabs z-depth-1">
				<li class="tab col s4"><a class="active" href="#files">Dolphins</a></li>
				<li class="tab col s4"><a class="active" href="#news">News</a></li>
				<li class="tab col s4"><a class="active" href="#stats">Stats</a></li>
				<li class="tab col s4"><a class="active" href="#settings">Settings</a></li>
			</ul>
		</div>
	</div>
	<div id='news'>
		<h5 class='header'>Upcoming Changes</h5>
		<ul class='news_list'>
			<li>Add Faster Melee 4.9</li>
			<li>Auto Ranked Match Reporting???</li>
			<li>Matchmaking from launcher</li>
		</ul>
		<h5 class='header'>v1.1.1</h5>
		<ul class='news_list'>
			<li>Added experimental download dolphin automatically button</li>
		</ul>
		<ul class='news_list'>
			<li>Updated script to launch dolphin even faster and be less concerned about dolphin having focus</li>
			<li>Added quick host and join buttons to try icon</li>
		</ul>
		<h5 class='header'>v1.0.1</h5>
		<ul class='news_list'>
			<li>Fixed bug where costumes were not loaded properly</li>
			<li>Fixed bug where quickly closing and opening dolphin would break tracking</li>
			<li>Fixed bug where the report match function would crash!</li>
		</ul>
		<h5 class='header'>v1.0.0</h5>
		<ul class='news_list'>
			<li>Fixed bug where Ctrl + Up and Ctrl + Down would cause dolphin to lose fullscreen focus</li>
			<li>Added Auto Updates</li>
			<li>Added Open on Startup</li>
			<li>Added A Windows Installer</li>
			<li>Fixed issue where the application would silently lose connection to the site after being idle</li>
			<li>Added News / Settings Tabs to the main display</li>
			<li>Active dolphin melee stat tracking</li>
			<li>Fixed 20xx launch bug where it would launch 20xx instead of normal melee</li>
		</ul>
		<h5 class='header'>v0.9.8 - v0.9.0</h5>
		<ul class='news_list'>
			<li>News did not exist so these updates do not matter</li>
		</ul>
	</div>
	<div id='host_code_input' class="template input-field inline host_code_input">
		<input type="text" class='host_code' name='host_code'>
		<label data-error="wrong" data-success="right" class="">Host Code</label>
	</div>
	<div id='files'>
		<ul class='builds collection productionz'>

			<li class='dolphin template collection-item'>
				<div class='heading'>

					<div class="switch">
						<label>
							<span>Off</span>
							<input type="checkbox" class='build_toggle' name='build_toggle' data-build_preference_id>
							<span class="lever"></span>
							<span>On</span>
						</label>
					</div>

					<h5 class='heading_text'>Dolphin Build</h5>
					<div class='features'>
						<span class='is_smart_dolphin'>
							<span class='chip'>Host</span>
							<span class='chip'>Join</span>
							<span class='chip'>Launch</span>
						</span>
						<span class='is_dumb_dolphin'><span class='chip'>Host</span><span class='chip'>Join</span></span>
					</div>
				</div>
				<div class="file-field input-field">
					<div class="btn select waves-effect">
						<span>Location</span>
					</div>
					<div class="file-path-wrapper">
						<input type='text' readonly name='file_location'
						       placeholder='C:/dolphin/4.x/dolphin.exe' value=''>
					</div>
					<div class='download-options row'>
						<div class='col s12'>
							<button class='btn download waves-effect'>Download</button>
							<button class='btn stop-download waves-effect'>Stop</button>
						</div>
					</div>
				</div>
				<div class='options row'>
					<div class='col s7'>
						<button style='display: none;' class='btn remove waves-effect red darken-1'>Reset</button>
						<button class='btn join waves-effect'>Join</button>
						<button class='btn test-launch waves-effect'>Host</button>
						<button class='btn close waves-effect'>Close</button>
					</div>
					<div class="input-field col s5">
						<select class='browser-default' name='game_name'>
						</select>
					</div>
					<div style='display: none;' class="input-field inline host_code_input">
						<input type="text" class='host_code' name='host_code'>
						<label data-error="wrong" data-success="right" class="">Host Code</label>
					</div>

				</div>

				<span class='is_testing'>Please wait while dolphin's capabilities are tested</span>
				<span class='is_downloading'>
					<span class='downloading'>Downloading ...</span>
					<span class='unzipping'>Unzipping...</span>
					<span class='percent'><span class='percent_number'></span>%</span>
					<span class='speed'></span>
					<span class='status_text'></span>
				</span>
				<div class="progress animated">
					<div class="indeterminate"></div>
				</div>
				<div class="progress static">
					<div class="determinate"></div>
				</div>
			</li>

		</ul>

	</div>

	<div id='settings'>
		<div class='edit_mode input-field'>
			<input class='filled-in' type="checkbox" id="test_mode" />
			<label for="test_mode">Enable Test Mode</label>
		</div>
		<div class='reset_all input-field'>
			<button class='btn waves-effect reset_all_button red darken-1'>Reset All</button>
		</div>
	</div>

	<div id='stats'>
		<div class='row'>
			<div class='col s12'>
				<div class="switch">
					<label>
						<span>Off</span>
						<input type="checkbox" class='stats_toggle' name='stats_toggle'>
						<span class="lever"></span>
						<span>On</span>
					</label>
				</div>
				<p class='status'>Waiting for the right moment to strike...</p>

				<div style='' id='menu'>
					Current Screen <span class='active_menu'></span>
					<div id='stats_debugger'>
						<div class='stats_debug_entry'></div>
					</div>
				</div>
				<label>Matches</label>
				<select class='browser-default' name='current_match' id='match_buttons'>
					<option class='no_matches' disabled='disabled' selected='selected'>No Matches</option>
					<option class='template'>Match <span class='match_number'>?</span></option>
				</select>
			</div>
		</div>
		<div id='matches'>

		</div>
		<div class='row'>
			<div id='dolphin_players' class='card col s3'>
				<div class='card-image match_stage'>
					<img src='./images/logos/dolphin/144x144.png'>
				</div>
				<span>Players</span>
				<div id='dolphin_player_number' class='dolphin_player template'>
					<span class='player_number'></span>
					<span class='username'></span>
				</div>
			</div>
		</div>
		<div class='match_stats_display template row'>
			<div class='match col s6 card'>
				<div class='card-image match_stage'>

				</div>
				<span class="card-title">Match <span class='match_number'>1</span> <span class='ended'>Ended</span></span>
				<span class='time_remaining'> Time Remaining <span class='match_seconds'>????</span> </span>
				<span class='errors'></span>
				<ul style='display: none;' class='collection'>
					<li style='display: none;' class='collection-item'>SS id <span class='match_id'>?????</span></li>
					<li style='display: none;' class='collection-item'>Ladder Match Id <span class='ladder_id'>?????</span></li>
					<li style='display: none;' class='collection-item'>Ladder Game Id <span class='match_game_id'>?????</span></li>
					<li class='collection-item'>Stage </li>
					<li class='collection-item'></li>
					<li class='error'></li>
				</ul>
			</div>
			<div class='players'>

			</div>
			<div class='match_status'>
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>
		</div>
		<div class='player_stats template card col s4 '>
			<div class='card-image match_character'>

			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class='card-title player_name'>-----</span>
					<ul class='player_template'>
						<li style='display: none;' class='collection-item'>Player # <span class='match_player_number'></span></li>
						<li style='display: none;' class='collection-item'>Character </li>
						<li style='display: none;' class='collection-item'>Percentage1 <span class='match_percentage'></span></li>
						<li style='display: none;' class='collection-item'>Percentage2 <span class='match_closestPercentage'></span></li>
						<li style='display: none;' class='collection-item'>Percentage3 <span class='match_abovePercentage'></span></li>
						<li style='display: none;' class='collection-item'>My Damage <span class='match_damage'></span></li>
						<li style='display: none;' class='collection-item'>DPM <span class='match_dpm'></span></li>
						<li style='display: none;' class='collection-item'>Kills <span class='match_kills'></span></li>
						<li class='collection-item'>Suicides <span class='match_suicides'></span></li>
						<li class='collection-item'>Damage <span class='match_damage'></span></li>
						<li class='collection-item'><span class='titled'>Kills</span> <span class='match_specific_kills'></span></li>
					</ul>
				</div>
				<div class="card-action">
					<span class='match_stocks'></span>
				</div>
			</div>
		</div>

	</div>

</div>
