<form id='login'>
	<div class="input-field">
		<input id='username' type="text" name='username' autofocus='autofocus'>
		<label for="username" class="">Username</label>
	</div>
	<div class="input-field">
		<input id='password' type="password" name='password'>
		<label for="password" class="">Password</label>
	</div>

	<button type='submit' class='btn waves-effect '>Login</button>

	<div class='error-message'>Invocjroiaew</div>

	<div class="preloader-wrapper small">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</form>